@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Protest Revolution', sans-serif;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: url('./assets/snake-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-position: center;
}

.header-content {
  padding-top: 1vmin;
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake-board {
  width: 65vmin;
  height: 65vmin;
  background: linear-gradient(rgb(147, 240, 147), rgb(176, 232, 117));
  border: 0.4rem solid rgb(83, 159, 45);
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.food {
  background: linear-gradient(red, rgb(2, 63, 129));
  border: 1px solid rgb(0, 140, 65);
  border-radius: 50%;
  transform: scale(0.8);
}

.snake-head {
  background-color: rgb(210, 3, 58);
  border: 3px solid rgb(249, 152, 152);
  border-radius: 10px;
  transform: scale(1.25);
}

.snake-body {
  background-color: rgb(26, 139, 116);
  border: 2px solid white;
  border-radius: 4px;
}

.controls-btn {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    '. up .'
    'left down right';
  gap: 1.5rem;
}

.controls-btn button:nth-child(1) {
  grid-area: up;
}
.controls-btn button:nth-child(2) {
  grid-area: left;
}
.controls-btn button:nth-child(3) {
  grid-area: right;
}
.controls-btn button:nth-child(4) {
  grid-area: down;
}

.controls-btn button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 8vmin;
  height: 8vmin;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.controls-btn button:active {
  transform: scale(0.9);
}

.controls-btn button i {
  font-size: 1.9rem;
  color: rgb(26, 26, 27);
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 600px) {
  html {
    font-size: 10px;
  }
}
